/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
========================================
Grid
========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.main-frame {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 1240px; }

body {
  font-family: 'Kumbh Sans', sans-serif; }

/*
======================================
Header Style
======================================
*/
#site-primary-logo {
  margin-right: 20px; }

.header-frame {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 0.25px solid #94a0b3; }

.header-frame-a, .header-frame-b {
  display: flex;
  flex-direction: row;
  align-items: center; }

.primary-navigation > ul {
  display: flex;
  flex-direction: row; }

.primary-navigation ul li a {
  text-decoration: none;
  margin: auto 15px;
  font-weight: 400;
  color: #94a0b3; }

#product-basket {
  margin-right: 15px; }

#user-profile-picture a img {
  width: 50px;
  margin-left: 15px; }

/*
==================================
General Product Frame Style
==================================
*/
.general-product-frame {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.general-product-pics, .general-product-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 30px; }

.general-product-pics {
  align-items: center; }

.general-product-thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.general-product-main-pic img {
  width: 450px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px; }

.general-product-thumbnail img {
  width: 112.5px;
  border-radius: 15px;
  padding: 10px; }

.general-product-description {
  justify-content: center;
  align-items: flex-start; }

.general-product-company h1 {
  color: #ff7d1a;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 20px; }

.general-product-edition {
  font-size: 40px;
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 30px; }

.general-product-detailed-description p {
  font-size: 16px;
  font-weight: 400;
  color: #68707d;
  padding: 10px 0;
  margin-bottom: 20px; }

.general-product-price-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 20px; }

.general-product-discount-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px; }

.general-product-discount-price, .general-product-discount-percentage {
  padding: 5px 0;
  margin-right: 20px; }

.general-product-discount-price {
  font-size: 30px;
  font-weight: 700; }

.general-product-discount-percentage {
  color: #ff7d1a;
  font-size: 16px;
  font-weight: 700;
  background-color: #f7f8fd;
  padding: 5px 10px;
  border-radius: 5px; }

.general-product-selling-price {
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  color: #68707d; }

.general-product-cart-section {
  display: flex;
  flex-direction: row; }

.general-product-quantity, .general-product-add-to-cart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px; }

.general-product-quantity {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f8fd; }

.general-product-add-to-cart-section a {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #ff7d1a;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 1px 20px #ff7d1a; }

.general-product-add-to-cart-section-description {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px; }

.general-product-add-to-cart-section-cart img {
  width: 15px; }

/*
===================================
Hover Styles
===================================
*/
.primary-navigation ul li a:hover {
  color: black;
  border-bottom: 5px solid #ff7d1a;
  padding-bottom: 40px; }

#user-profile-picture a img:hover {
  border: 2px solid #ff7d1a;
  border-radius: 50%; }

.general-product-thumbnail img:hover {
  opacity: 0.5; }

.general-product-cart-minus:hover,
.general-product-cart-plus:hover,
.general-product-add-to-cart-section:hover {
  opacity: 0.5; }

/*# sourceMappingURL=styles.css.map */
